<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696215404601-cmf7omng16u5bb7r450504mnvbu65kg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696215404601-cmf7omng16u5bb7r450504mnvbu65kg4</string>
	<key>API_KEY</key>
	<string>AIzaSyBdpA8mMNEevqHZW_4h9QW5nPvPC0X4zfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>696215404601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utaliiworld.utalii</string>
	<key>PROJECT_ID</key>
	<string>utalii-8c77d</string>
	<key>STORAGE_BUCKET</key>
	<string>utalii-8c77d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696215404601:ios:e3c305413d956858e88de8</string>
</dict>
</plist>